.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(4, 4, 4, 0.8);
  overflow: hidden;
  animation: zoom 0.3s ease-out;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    background-color: #f2f2f2;
    padding: 4rem;
    width: 70vw;
    max-height: 80vh;
    border-radius: 3px;
    overflow: auto;

    display: flex;
  }
}

.modal-toggler {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 5rem;
  width: 5rem;
  background-color: var(--color-grey-light);
  border-radius: 1rem 0 0 0;
  transition: all 0.3s ease-out;
  z-index: 11;
  cursor: pointer;

  & svg {
    color: var(--color-primary);
    height: var(--icon-size);
    width: var(--icon-size);
    transition: color 0.3s ease-out;
  }

  &:hover {
    background-color: var(--color-secondary);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);

    & svg {
      color: var(--color-white);
    }
  }

  &.close {
    background-color: var(--color-secondary);
    border-radius: 10rem;
    bottom: 2rem;
    right: 1rem;

    & svg {
      fill: var(--color-grey-dark);
      transition: all 0.15s ease-out;
    }

    &:hover {
      background-color: var(--color-white);

      & svg {
        fill: var(--color-primary);
        transform: rotate(90deg);
      }
    }
  }
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.01);
  }
  100% {
    opacity: 1;
    z-index: 1;
    transform: scale(1, 1);
  }
}

@keyframes zoom-reverse {
  0% {
    opacity: 1;
    z-index: 1;
    transform: scale(1, 1);
  }
  99% {
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
    transform: scale(0.5, 0.01);
  }
}

// MEDIA QUERIES ============================================================================
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .modal__container {
    padding: 4rem;
    width: 90vw;
    max-height: 90vh;
  }
}

@media screen and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .modal__container {
    flex-direction: column;
  }

  .modal-toggler {
    height: 7rem;
    width: 7rem;

    &:hover {
      background-color: var(--color-grey-light);
      box-shadow: none;

      & svg {
        color: var(--color-primary);
      }
    }

    &.close:hover {
      background-color: var(--color-secondary);

      & svg {
        fill: var(--color-grey-dark);
        transform: rotate(0deg);
      }
    }
  }
}
